<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
    </head>
<body>
    <h1><%= title %></h1>
    <h3>?host_rewrite=<%= host_rewrite %></h3>
    <pre><%= JSON.stringify(status, null, 2) %></pre>
    <div>
        <a href="/data/init">initialize sample data (drops mysql and neo4j data)</a>
    </div>
    <div>
        <a href="https://<%= host_rewrite %>:7473">neo-4j browser</a>
    </div>
</body>
</html>
